.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-bottom: 64px;
}

.loadMore {
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: var(--main-dark);
}

.loadMore:hover {
  border-color: var(--main-red-hover);
}

.loader {
  margin: 20px 0;
  font-weight: 500;
  color: var(--gray-muted);
}
