.wrapper {
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.contentLayout {
  display: grid;
  grid-template-columns: 1fr 448px; /* Ліва частина гнучка, права — фіксована */
  gap: 40px;
  align-items: start;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.imageThumb {
  width: calc(25% - 12px);
  height: 310px;
}

.imageThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 44px;
}

.tab {
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}

.description {
  margin-bottom: 44px;
  color: #475467;
  line-height: 1.5;
}
