@import "tailwindcss";

:root {
  --main-dark: #101828;
  --main-red: #e44848;
  --main-red-hover: #d84343;
  --main-yellow: #ffc531;
  --gray-light: #f7f7f7;
  --gray-muted: #475467;
  --border-color: #dadde1;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--main-dark);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
