.hero {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 64px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  max-width: 600px;
}

.title {
  color: var(--white);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--main-red);
  color: var(--white);
  border-radius: 200px;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover,
.button:active {
  background-color: var(--main-red-hover);
}
