.catalogSection {
  padding: 40px 0;
}

.layout {
  display: flex;
  gap: 64px;
}

.filters {
  width: 360px;
  flex-shrink: 0;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
