.catalogSection {
  padding: 40px 0;
}

.layout {
  display: flex;
  gap: 64px;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.tempCard {
  border: 1px solid rgba(16, 24, 40, 0.2);
  padding: 24px;
  border-radius: 20px;
}
