.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-weight: 500;
  text-transform: capitalize;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.divider {
  border: none;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
}

.capitalize {
  text-transform: capitalize;
}
