.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  background: #fff;
}

.imageWrapper {
  position: relative;
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

.content {
  flex-grow: 1;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-dark);
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.favoriteBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.meta {
  display: flex;
  gap: 16px;
  margin: 8px 0 24px;
  font-size: 16px;
}

.description {
  color: #475467;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 520px;
  margin-bottom: 24px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.tag {
  padding: 12px 18px;
  background: #f2f4f7;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  background-color: var(--main-red);
  color: white;
  border-radius: 200px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.button:hover {
  background-color: #d84343;
}
