.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  background: var(--white);
}

.imageWrapper {
  position: relative;
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

.content {
  flex-grow: 1;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-dark);
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.favoriteBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.meta {
  display: flex;
  gap: 16px;
  margin: 8px 0 24px;
  font-size: 16px;
}

.description {
  color: var(--gray-muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 520px;
  margin-bottom: 24px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.tag {
  display: inline-flex;
  align-items: center;
  /* Відступ між іконкою та написом */
  gap: 8px;

  padding: 12px 18px;
  background-color: var(--gray-light);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-dark);
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px; /* Для дрібних іконок локації та зірки */
  font-size: 16px;
}

/* Кнопка сердечка */
.favoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, color 0.2s ease;
  color: var(--main-dark);
}

.favoriteBtn:hover {
  transform: scale(1.1);
}
.favoriteBtn.active {
  color: var(--main-red);
}
.button {
  display: inline-block;
  padding: 16px 40px;
  background-color: var(--main-red);
  color: white;
  border-radius: 200px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--main-red-hover);
}
